.frame-1{
    font-size: 15px;
}
.award-image{
    height: 60%;
    width: 50%;
}
.image-2{
    height: 70%;
    width: 85%;
    margin-bottom: 25px;
}
.para{
    margin-top: 15px;
    margin-bottom: 30px;
}
